---
import MainLayout from '../layouts/MainLayout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Testimonials from '../components/Testimonials.astro';
import Dimensions from '../components/Dimensions.astro';
import FinalCTA from '../components/FinalCTA.astro';
import { pageSEO } from '../lib/seo';


const seo = pageSEO.home;
---

<MainLayout 
  title={seo.title}
  description={seo.description}
  image={seo.image}
>
  <!-- Hero avec Fleur de Vie en arrière-plan -->
  <div class="relative">
    <Hero />
  </div>

  <!-- Dimensions avec Fleur de Vie en arrière-plan -->
  <div class="relative">
    <Dimensions />
  </div>

    <!-- Testimonials avec Fleur de Vie en arrière-plan -->
  <div class="relative">
    <Testimonials />
  </div>

    <About />
  
  <!-- Services avec Fleur de Vie en arrière-plan -->
  <div class="relative">
    <Services />
  </div>
  
  <!-- Section d'appel à l'action finale -->
  <FinalCTA />

</MainLayout>